@import url("http://fonts.cdnfonts.com/css/sofia-pro");
* {
  font-family: "Sofia Pro", sans-serif;
  /* cursor: none; */
}

/* navbar external */

.nav-items {
  color: #bab8c5 !important;
  padding: auto;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;

  font-weight: 500;
  font-size: 1rem;
  position: relative;
  justify-content: center;
  align-items: center;
}
.nav-items:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fb7712;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
  color: #fff !important;
}
.nav-items:not(.is-active):hover:before {
  opacity: 70%;
  bottom: 0;
}
.nav-items:not(.is-active):hover {
  /* color: rgb(235, 168, 80); */
  color: white !important;
}

.nav-item:hover {
  color: #fb7712;
}
.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}
.active {
  color: #fb7712 !important;
}
/* navbar external end */

body {
  background: black;
  color: white;
}

.container-custom,
.container-custom-nav {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* navbar */
.navbar {
  /* border-bottom: 3px #fb7712 solid; */
  box-shadow: 2px 2px 10px #fb7712;
  opacity: 100%;
}

.bg-dark-custom {
  background-color: #181816;
}

.home-img {
  background: url(../image/Artboard\ 1\ copy\ 4@4x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home-section {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#work-section {
  background: url(../image/Group\ 13.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
#about-section {
  background: url(../image/Group\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  /* padding-left: ; */
}
#contact-section {
  background: url(../image/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.go-down {
  opacity: 80%;
  margin-left: 20%;
}

/* about-section */
.about-text {
  padding: 3rem 2rem;
}

.about-text1 {
  color: #fb7712;
  font-size: 2rem;
  margin-top: 2rem;
}
.about-text2 {
  font-size: 1.5rem;
}
.about-head {
  font-size: 4rem;
}
/* work-section */
.work-img {
  padding: 5rem 0px;
}
.work-slider-img {
  height: 80vh;
  width: 150rem;
}
.text-carousel {
  /* margin-bottom: 15%; */
  font-size: 6rem;
}
.text-footer {
  color: #fb7712;
}

/* contact-section */
.text-mail,
.text-social-media {
  color: #fb7712;
}
.text-social-media {
  padding-right: 3em;
}
.submit-btn {
  background-color: #fb7712;
  color: white;
  transition: all 0.5s ease;
}
.submit-btn:hover {
  color: #fb7712;
  background-color: white;
}
.thank-you {
  width: 40%;
}
.go-up {
  width: 100%;
}
.text-icon {
  color: #fb7712;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
.text-icon-up {
  color: #fb7712;
  font-size: 3rem;
  transition: all 0.5s ease;
}
.text-icon:hover {
  color: white;
}
.text-icon-up:hover {
  color: white;
}
.mail {
  transition: all 0.5s ease;
}
.mail:hover {
  color: white;
}
.carousel-caption-custom {
  position: absolute;
  right: 15%;
  bottom: 130px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.carousel-caption-custom-four {
  position: absolute;
  right: 15%;
  bottom: 20%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.modal-text {
  color: #fb7712;
}

/* hover effects */

/* overline-work-section */
.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #fb7712;
  height: 8px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before,
.hvr-overline-from-center:focus:before,
.hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Underline-about-section-head */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fb7712;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Wobble Vertical - home-name */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Sink-home-go-down */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}

/* cursor animation */
.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 3px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  z-index: 1;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
  z-index: 1;
}

.content:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(1);
  background-color: #c6c6c6;
  opacity: 0.5;
}

.content:hover ~ .cursor2 {
  opacity: 0;
}

/* input */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 20px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fb7712;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 3px 0;
  /* background: transparent; */
  transition: border-color 0.2s;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 10px;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
  /* color: #fb7712; */
  padding: 0 15px;
  padding-bottom: 5px;
}

.form__field:focus {
  padding-bottom: 6px;
  padding-left: 15px;
  padding-top: 10px;
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to right, #ee653b, #f09d3b);
  border-image-slice: 1;
  font-size: 1rem;
  color: #fb7712;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fb7712;
  font-weight: 700;
  margin-bottom: 15px;
  /* color: white; */
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.img-thumb {
  border: 1.5px solid #3b3b3b;
  border-radius: 5px;
}

/* media queries */

/* tablet screens */
@media (max-width: 991.98px) {
  .text-icon {
    font-size: 1.3rem;
    display: block;
    margin-right: 0;
  }
  .text-icon-up {
    font-size: 3rem;
  }

  .thank-you {
    width: 70%;
  }
  .text-carousel {
    /* margin-bottom: 30%; */
    font-size: 4rem;
  }

  .carousel-caption-custom {
    bottom: 150px;
  }
  .carousel-caption-custom-four {
    bottom: 20%;
  }
  #cursor-d-none {
    display: none;
  }
}

/* small-screens */
@media (max-width: 580px) {
  .go-down {
    margin-left: 10%;
  }
  #cursor-d-none {
    display: none;
  }
  .carousel-caption-custom {
    bottom: 160px;
  }
  .carousel-caption-custom-four {
    bottom: 20%;
  }
  .text-carousel {
    /* margin-bottom: 52%; */
    font-size: 3rem;
  }
  .kishore {
    padding-top: 25%;
  }
  .about-head {
    font-size: 2.5rem;
  }
  .about-text1 {
    color: #fb7712;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .about-text2 {
    font-size: 1.3rem;
  }
  .text-icon {
    font-size: 1rem;
    display: block;
    margin-right: 0;
  }
  .text-icon-up {
    display: none;
  }
  .margin-small {
    margin: auto;
  }
  .thank-you {
    width: 90%;
  }

  .container-custom-nav {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /* nav .nav-item {
    padding: auto 3px !important;
  } */

  nav .nav-link {
    border-bottom: 5px #333 solid;
    padding: 8px;
    color: white !important;
    transition: all 0.5s ease;
    background: #71797e;
    border-radius: 10px;
  }
  nav .nav-item {
    padding: 30px auto;
    font-size: medium;
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .nav-items:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
  }
  nav .nav-item .nav-link:hover {
    color: white !important;
    border-radius: 2px;
  }
  .active {
    color: #fb7712 !important;
  }
  .navbar {
    border-bottom: 3px #fb7712 solid;
    opacity: 1;
  }

  .icons {
    text-align: center;
  }

  #home-section,
  #work-section {
    background: url(../image/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
  }
  #about-section,
  #contact-section {
    background: url(../image/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
  }
}

/* //large screens */
@media (min-width: 1300px) {
  .kishore {
    padding-top: 3em;
  }

  /* about-section */
  .about-text {
    padding: 3rem 2rem;
  }
  .about-head {
    font-size: 5rem;
  }
  .about-text1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 2rem;
  }
  .about-text2 {
    font-size: 2rem;
  }
  .home-img {
    background: url(../image/Artboard\ 1\ copy\ 4@4x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
