    @import url("http://fonts.cdnfonts.com/css/sofia-pro");
    @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
    }
    
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }
    
    html:focus-within {
        scroll-behavior: smooth;
    }
    
    body {
        min-height: 100vh;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }
    
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }
    
    img,
    picture {
        max-width: 100%;
        display: block;
    }
    
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    
    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
    /* cursor animation */
    
    .cursor {
        position: fixed;
        width: 50px;
        height: 50px;
        border: 3px solid #c6c6c6;
        border-radius: 50%;
        left: 0;
        top: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.1s;
        z-index: 1;
    }
    
    .cursor2 {
        position: fixed;
        width: 8px;
        height: 8px;
        background-color: #c6c6c6;
        border-radius: 50%;
        left: 0;
        top: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.15s;
        z-index: 1;
    }
    
    .content:hover~.cursor {
        transform: translate(-50%, -50%) scale(1);
        background-color: #c6c6c6;
        opacity: 0.5;
    }
    
    .content:hover~.cursor2 {
        opacity: 0;
    }
    /* cursor animation end */
    
    body {
        font-size: 1.2rem;
        line-height: 1.45;
        background: black;
        overflow-x: hidden;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .main-content {
        padding: 5% 8%;
        flex: 1 1 80%;
        min-height: 100vh;
    }
    
    .flexout {
        display: flex;
        flex-wrap: wrap;
    }
    
    .project-head {
        color: #fb7712;
        font-size: 4rem;
        text-align: center;
        padding-top: 1.5rem;
    }
    
    .click_explore {
        color: white;
        padding: 0.5rem 0;
    }
    
    .portfolio {
        display: grid;
        height: 100%;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
    
    .portfolio-item {
        background: #fb7712;
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        font-size: 1.5rem;
        border-radius: 10px;
    }
    
    .portfolio-item img {
        text-decoration: none;
        color: #fb7712;
    }
    
    .portfolio-item:hover {
        cursor: pointer;
    }
    /* Animations - Sliding */
    
    .slideRight {
        position: absolute;
        left: -600px;
        -webkit-animation: slide 1s forwards;
        -webkit-animation-delay: 0.22s;
        animation: slideRight 1s forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    
    @-webkit-keyframes slideRight {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }
    
    @keyframes slideRight {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }
    
    .slideLeft {
        position: absolute;
        right: -600px;
        -webkit-animation: slide 1s forwards;
        -webkit-animation-delay: 0.22s;
        animation: slideLeft 1s forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    
    @-webkit-keyframes slideLeft {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            right: 0;
        }
    }
    
    @keyframes slideLeft {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            right: 0;
        }
    }
    
    .slideDown {
        position: absolute;
        top: -600px;
        -webkit-animation: slide 1s forwards;
        -webkit-animation-delay: 0.22s;
        animation: slideDown 1s forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    
    @-webkit-keyframes slideDown {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            top: 0;
        }
    }
    
    @keyframes slideDown {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            top: 0;
        }
    }
    
    .slideUp {
        position: absolute;
        bottom: -600px;
        -webkit-animation: slide 1s forwards;
        -webkit-animation-delay: 0.22s;
        animation: slideUp 1s forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    
    @-webkit-keyframes slideUp {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            bottom: 0;
        }
    }
    
    @keyframes slideUp {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            bottom: 0;
        }
    }
    
    .fadeIn {
        animation: fadeIn ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .image {
        background-position: center;
        background-size: cover;
    }
    
    #github {
        display: flex;
        justify-content: end;
        align-items: center;
        transition: all ease-in-out 300ms;
    }
    
    #github:hover {
        text-decoration: none;
    }
    
    .text-icon {
        color: #fb7712;
        font-size: 1.5rem;
        transition: all 0.5s ease;
    }
    
    .text-icon:hover {
        color: rgb(228, 228, 228);
    }
    
    .flex-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.2rem;
    }
    
    .iconDiv {
        position: fixed;
        right: 0px;
        bottom: 0px;
        width: 200px;
        height: 15px;
        text-align: center;
        margin-bottom: 3.5rem;
        z-index: 100;
        margin-right: 20px;
    }
    
    .dispNone {
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    
    .iconDiv i {
        animation: dbl 1s infinite;
    }
    
    .dblText {
        font-size: 0.7rem;
        font-family: "Sofia Pro", sans-serif;
        text-align: center;
        width: 200px;
        margin-top: 0.5rem;
    }
    
    .lightboxIcon {
        color: rgba(255, 255, 255, 0.5);
    }
    
    @keyframes dbl {
        0% {
            transform: scale(1);
        }
        25% {
            transform: scale(1.05);
        }
        50% {
            transform: scale(1.08);
        }
        75% {
            transform: scale(1.03);
        }
        100% {
            transform: scale(0.95);
        }
    }
    
    .zoom {
        transform: scale(1.5);
        transition: all 300ms ease-in-out;
    }
    
    .zoomOut {
        transform: scale(1);
        transition: all 300ms ease-in-out;
    }
    
    #lightbox {
        position: fixed;
        /* position: relative; */
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        z-index: 1000;
    }
    
    #lightbox.active {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: disp 0.5s forwards;
    }
    
    @keyframes disp {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #lightbox img {
        max-width: 90%;
        max-height: 90%;
        padding: 4px;
        border-radius: 10px;
        z-index: 100;
    }
    
    figure.effect-sadie figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid #fb7712;
        background: -webkit-linear-gradient(top, rgba(235, 235, 235, 0) 0%, rgba(31, 30, 30, 0.8) 75%);
        background: linear-gradient(to bottom, rgba(235, 235, 235, 0) 0%, rgba(31, 30, 30, 0.8) 75%);
        content: '';
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }
    
    figure.effect-sadie h3 {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        opacity: 0;
        color: #484c61;
        -webkit-transition: -webkit-transform 0.35s, color 0.35s;
        transition: transform 0.35s, color 0.35s;
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
    }
    
    figure.effect-sadie figcaption::before {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }
    
    figure.effect-sadie:hover h3 {
        opacity: 1;
        color: #fff;
        -webkit-transform: translate3d(0, -10%, 0) translate3d(0, -10px, 0);
        transform: translate3d(0, -10%, 0) translate3d(0, -10px, 0);
    }
    
    figure.effect-sadie:hover figcaption::before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        cursor: pointer;
    }
    /* footer */
    
    .text-footer {
        color: #fb7712;
    }
    
    .footer1 {
        margin-top: 2rem;
        background-color: #181816;
    }
    
    @media (max-width: 991.98px) {
        h3 {
            font-size: 1.2rem;
        }
        .flex-footer {
            margin-top: 20px;
        }
        .iconDiv {
            display: none;
        }
    }
    
    @media (max-width: 580px) {
        .iconDiv {
            display: none;
        }
        figure h3 {
            display: none;
        }
        .flex-footer {
            margin-top: 20px;
        }
        .footer-text {
            font-size: 0.9rem;
        }
        .drive-text {
            font-size: 1rem;
        }
        .drive-icon::before {
            font-size: 1.3rem;
        }
        .text-icon {
            font-size: 1.25rem;
        }
        .github-text {
            font-size: 1rem;
        }
    }